# vim: set filetype=conf:
#
# ANSIBLE-MANAGED CONFIGURATION FILE
# Ref: https://github.com/ncmpcpp/ncmpcpp/blob/master/doc/config
#

# PATHS ########################################################################

# main ncmpcpp user config dir
ncmpcpp_directory = "{{ ncmpcpp_user_config_dir }}"

# Music Files Dir (Should Be Same As Music Files Dir In mpd.conf)
mpd_music_dir = "{{ ncmpcpp_music_dir }}"

# lyrics dir (other apps may expect ~/.lyrics)
lyrics_directory = "{{ ncmpcpp_user_lyrics_dir }}"

# MPD DAEMON ###################################################################

# connect to mpd service on this host and port
mpd_host = {{ ncmpcpp_mpd_service_host }}
mpd_port = {{ ncmpcpp_mpd_service_port }}

# connection retry timeout to mpd service
mpd_connection_timeout = {{ ncmpcpp_mpd_service_connection_retry_sec }}

# add delay between mpd-data-fetch and playlist/library/etc update
data_fetching_delay = {{ 'yes' if ncmpcpp_mpd_service_data_fetch_delay else 'no' }}

# external editor to use when needed
external_editor = "{{ ncmpcpp_external_text_editor_cmd }}"

# external editor is console text editor
use_console_editor = {{ 'yes' if ncmpcpp_external_text_editor_is_console_editor else 'no' }}

# PLAYBACK #####################################################################

# crossfade time between tracks
mpd_crossfade_time = {{ ncmpcpp_crossfade_between_tracks_sec }}

# volume change step
volume_change_step = {{ ncmpcpp_volume_change_step_pct }}

# seek forward/backward in track by an increment
incremental_seeking = {{ 'yes' if ncmpcpp_incremental_track_seek_enable else 'no' }}

# seek forward/backward track seek increment
seek_time = {{ ncmpcpp_incremental_track_seek_step }}

# execute custom command on track change (e.g. a notification)
execute_on_song_change = {{ ncmpcpp_exec_custom_cmd_on_track_change }}

# GLOBAL UI ####################################################################

# ncmpcpp window title bar text (tags only - attributes not allowed)
song_window_title_format = {{ ncmpcpp_window_tile_bar_text }}

# startup screen: help, playlist, browser, search_engine, media_library,
#                 playlist_editor, tag_editor, outputs, visualizer, clock
startup_screen = {{ ncmpcpp_startup_screen }}

# focus row of now-playing track on startup
jump_to_now_playing_song_at_start = {{ 'yes' if ncmpcpp_focus_now_playing_track_on_start else 'no' }}

# screen switch key toggles between these two screens
screen_switcher_mode = {{ ncmpcpp_screen_switch_toggle }}

# main window color: 'default', 'red', 'red_green' (for fg/bg)
main_window_color = {{ ncmpcpp_main_window_color }}

# primary color used in song info, tiny tag editor, search engine, etc.
color1 = {{ ncmpcpp_primary_ui_color }}

# secondary color used in song info, tiny tag editor, search engine, etc.
color2 = {{ ncmpcpp_secondary_ui_color }}

# top section of global UI mode (classic/alternative)
user_interface = {{ ncmpcpp_global_ui_mode }}

# top section separator bars colors
alternative_ui_separator_color = {{ ncmpcpp_top_section_sep_bar_colors }}

# top section volume color: 'default', 'red', 'red_green' (for fg/bg)
volume_color = {{ ncmpcpp_top_section_volume_color }}

# show bitrate in top section
display_bitrate = {{ 'yes' if ncmpcpp_top_section_show_bitrate else 'no' }}

# show time-remaining in top section
display_remaining_time = {{ 'yes' if ncmpcpp_top_section_show_time_remaining else 'no' }}

# top section state line color: 'default', 'red', 'red_green' (for fg/bg)
state_line_color = {{ ncmpcpp_top_section_state_line_color }}

# top section state flags color: 'default', 'red', 'red_green' (for fg/bg)
state_flags_color = {{ ncmpcpp_top_section_flags_color }}

# top section 1st line ("now-playing" song): [album artist] - [album] ([year])
alternative_header_first_line_format = {{ ncmpcpp_top_section_line_1 }}

# top section 2nd line ("now-playing" song): [artist] - [title]
alternative_header_second_line_format = {{ ncmpcpp_top_section_line_2 }}

# show header bar below top section (shows various things in different UI modes)
header_visibility = {{ 'yes' if ncmpcpp_show_header_bar_below_top_section else 'no' }}

# header bar wrap text to next line if it will not fit
header_text_scrolling = {{ 'yes' if ncmpcpp_wrap_header_to_next_line else 'no' }}

# header bar color: 'default', 'red', 'red_green' (for fg/bg)
header_window_color = {{ ncmpcpp_header_bar_color }}

# bottom song progress bar chars (2 or 3 chars)
progressbar_look = "{{ ncmpcpp_progress_bar_chars }}"

# bottom song progress bar color: 'default', 'red', 'red_green' (for fg/bg)
progressbar_color = {{ ncmpcpp_progress_bar_color }}

# bottom song prog bar elapsed color: 'default', 'red', 'red_green' (for fg/bg)
progressbar_elapsed_color = {{ ncmpcpp_progress_bar_elapsed_color }}

# center highlighted row on screen when scrolling up/down through rows
centered_cursor = {{ 'yes' if ncmpcpp_center_highlighted_row_on_screen else 'no' }}

# wrap scolling any set of rows back to top when at the last row
cyclic_scrolling = {{ 'yes' if ncmpcpp_wrap_scrolling else 'no' }}

# text to display if trying to show a tag that is not Set
empty_tag_marker = "{{ ncmpcpp_empty_tag_placeholder_text }}"

# empty tag color: 'default', 'red', 'red_green' (for fg/bg)
empty_tag_color = {{ ncmpcpp_empty_tag_color }}

# text to display in between tags
tags_separator = "{{ ncmpcpp_tag_separator_chars }}"

# wrap find operations in playlist/browser:  'wrapped', 'normal'
default_find_mode = {{ 'wrapped' if ncmpcpp_wrap_find_operations else 'normal' }}

# selected item(s) colors
selected_item_prefix = {{ ncmpcpp_selected_item_prefix }}
selected_item_suffix = {{ ncmpcpp_selected_item_suffix }}

# PLAYLIST UI ##################################################################

# playlist ui mode: 'classic', 'columns'
playlist_display_mode = {{ ncmpcpp_playlist_ui_mode }}

# show remaining time above playlist columns
playlist_show_remaining_time = {{ 'yes' if ncmpcpp_playlist_show_time_remaining else 'no' }}

# shorten total/remaining times above playlist columns
playlist_shorten_total_times = {{ 'yes' if ncmpcpp_playlist_shorten_total_and_rem_times else 'no' }}

# playlist columns
song_columns_list_format = {{ ncmpcpp_playlist_columns }}

# put horizontal bar between groups of same-album playlist rows
playlist_separate_albums = {{ 'yes' if ncmpcpp_playlist_album_separator_bar else 'no' }}

# highlight >>selected<< playlist row for X seconds (0 = always highlighted)
playlist_disable_highlight_delay = {{ ncmpcpp_playlist_highlight_sel_row_seconds }}

# BROWSER UI ###################################################################

# browser ui mode: 'classic', 'columns'
browser_display_mode = {{ ncmpcpp_browser_ui_mode }}

# browser row-sort song order: 'name', 'mtime', 'format', 'noop'
browser_sort_mode = {{ ncmpcpp_browser_row_sort_order }}

# for 'name' browser_row_sort_order, define tags to sort by
browser_sort_format = {{ ncmpcpp_browser_name_sort_tags }}

# show hidden files/dirs (i.e. dotfiles/dotdirs) in browser
show_hidden_files_in_local_browser = {{ 'yes' if ncmpcpp_browser_show_hidden_files else 'no' }}

# allow deleting files/dirs from disk (only in browser ui)
allow_for_physical_item_deletion = {{ 'yes' if ncmpcpp_browser_allow_delete_files else 'no' }}

# MEDIA LIBRARY UI #############################################################

# make media library sort by mtime
media_library_sort_by_mtime = {{ 'yes' if ncmpcpp_media_lib_sort_by_mtime else 'no' }}

# first column of media lib: 'artist', 'album_artist', 'date', 'genre',
#                            'composer', 'performer'
media_library_primary_tag = {{ ncmpcpp_media_lib_first_column }}

# media lib songs row format
song_library_format = {{ ncmpcpp_media_lib_row_format }}

# SEARCH ENGINE UI #############################################################

# search engine UI mode: 'classic' 'columns'
search_engine_display_mode = {{ ncmpcpp_search_engine_ui_mode }}

# default search location: 'database', 'playlist'
default_place_to_search_in = {{ ncmpcpp_search_engine_default_search_loc }}

# search mode:
#   1 - mpd built-in searching (no regexes, pattern matching)
#   2 - ncmpcpp searching (patt match, but may need to download dbase)
#   3 - use mode mpd for dbase search, ncmpcpp for playlist search
search_engine_default_search_mode = {{ 3 if (ncmpcpp_se_mode == 'combined') else (2 if (ncmpcpp_se_mode == 'ncmpcpp') else 1) }}

# type of regexes to use: 'none', 'basic', 'extended', 'perl'
regular_expressions = {{ ncmpcpp_search_engine_regex_type }}

# block fields in search engine above reset button after successful search
block_search_constraints_change_if_items_found = {{ 'yes' if ncmpcpp_search_engine_block_fields_on_success else 'no' }}

# PLAYLIST EDITOR UI ###########################################################

# playlist editor UI mode: 'classic', 'columns'
playlist_editor_display_mode = {{ ncmpcpp_playlist_editor_ui_mode }}

# gen filenames without win32-breaking '\', '?', '*', ':', '|', '"', '<', '>'
generate_win32_compatible_filenames = {{ 'yes' if ncmpcpp_playlist_editor_gen_win32_compat_filenames else 'no' }}

# confirm playlist deletion
ask_before_clearing_playlists = {{ 'yes' if ncmpcpp_playlist_editor_confirm_playlist_delete else 'no' }}

# TAG EDITOR UI ################################################################

# default pattern used by tag editor parser
default_tag_editor_pattern = {{ ncmpcpp_tag_editor_default_pattern }}

# make tag editor number tracks 01/12 (if yes) or just 01 (if no)
tag_editor_extended_numeration = {{ 'yes' if ncmpcpp_tag_editor_use_x_of_xx_track_nums else 'no' }}

