# vim: set filetype=conf:
#
# ANSIBLE-MANAGED CONFIGURATION FILE
# Ref: https://github.com/ncmpcpp/ncmpcpp/blob/master/doc/config
#

# PATHS ########################################################################

# main ncmpcpp user config dir
ncmpcpp_directory = "{{ ncmpcpp_user_config_dir }}"

# Music Files Dir (Should Be Same As Music Files Dir In mpd.conf)
mpd_music_dir = "{{ ncmpcpp_music_dir }}"

# lyrics dir (other apps may expect ~/.lyrics)
lyrics_directory = "{{ ncmpcpp_user_lyrics_dir }}"

# MPD DAEMON ###################################################################

# connect to mpd service on this host and port
mpd_host = {{ ncmpcpp_mpd_service_host }}
mpd_port = {{ ncmpcpp_mpd_service_port }}

# connection retry timeout to mpd service
mpd_connection_timeout = {{ ncmpcpp_mpd_service_connection_retry_sec }}

# add delay between mpd-data-fetch and playlist/library/etc update
data_fetching_delay = {{ 'yes' if ncmpcpp_mpd_service_data_fetch_delay else 'no' }}

# external editor to use when needed
external_editor = "{{ ncmpcpp_external_text_editor_cmd }}"

# external editor is console text editor
use_console_editor = {{ 'yes' if ncmpcpp_external_text_editor_is_console_editor else 'no' }}

# PLAYBACK #####################################################################

# crossfade time between tracks
mpd_crossfade_time = {{ ncmpcpp_crossfade_between_tracks_sec }}

# GLOBAL UI ####################################################################

# ncmpcpp window title bar text (tags only - attributes not allowed)
song_window_title_format = {{ ncmpcpp_window_tile_bar_text }}

# startup screen: help, playlist, browser, search_engine, media_library,
#                 playlist_editor, tag_editor, outputs, visualizer, clock
startup_screen = {{ ncmpcpp_startup_screen }}

# focus row of now-playing track on startup
jump_to_now_playing_song_at_start = {{ 'yes' if ncmpcpp_focus_now_playing_track_on_start else 'no' }}

# screen switch key toggles between these two screens
screen_switcher_mode = {{ ncmpcpp_screen_switch_toggle }}

# main window color: 'default', 'red', 'red_green' (for fg/bg)
main_window_color = {{ ncmpcpp_main_window_color }}

# primary color used in song info, tiny tag editor, search engine, etc.
color1 = {{ ncmpcpp_primary_ui_color }}

# secondary color used in song info, tiny tag editor, search engine, etc.
color2 = {{ ncmpcpp_secondary_ui_color }}

# top section of global UI mode (classic/alternative)
user_interface = {{ ncmpcpp_global_ui_mode }}

# top section separator bars colors
alternative_ui_separator_color = {{ ncmpcpp_top_section_sep_bar_colors }}

# top section volume color: 'default', 'red', 'red_green' (for fg/bg)
volume_color = {{ ncmpcpp_top_section_volume_color }}

# show bitrate in top section
display_bitrate = {{ 'yes' if ncmpcpp_top_section_show_bitrate else 'no' }}

# show time-remaining in top section
display_remaining_time = {{ 'yes' if ncmpcpp_top_section_show_time_remaining else 'no' }}

# top section state line color: 'default', 'red', 'red_green' (for fg/bg)
state_line_color = {{ ncmpcpp_top_section_state_line_color }}

# top section state flags color: 'default', 'red', 'red_green' (for fg/bg)
state_flags_color = {{ ncmpcpp_top_section_flags_color }}

# top section 1st line ("now-playing" song): [album artist] - [album] ([year])
alternative_header_first_line_format = {{ ncmpcpp_top_section_line_1 }}

# top section 2nd line ("now-playing" song): [artist] - [title]
alternative_header_second_line_format = {{ ncmpcpp_top_section_line_2 }}

# show header bar below top section (shows various things in different UI modes)
header_visibility = {{ 'yes' if ncmpcpp_show_header_bar_below_top_section else 'no' }}

# header bar wrap text to next line if it will not fit
header_text_scrolling = {{ 'yes' if ncmpcpp_wrap_header_to_next_line else 'no' }}

# header bar color: 'default', 'red', 'red_green' (for fg/bg)
header_window_color = {{ ncmpcpp_header_bar_color }}

# bottom song progress bar chars (2 or 3 chars)
progressbar_look = "{{ ncmpcpp_progress_bar_chars }}"

# bottom song progress bar color: 'default', 'red', 'red_green' (for fg/bg)
progressbar_color = {{ ncmpcpp_progress_bar_color }}

# bottom song prog bar elapsed color: 'default', 'red', 'red_green' (for fg/bg)
progressbar_elapsed_color = {{ ncmpcpp_progress_bar_elapsed_color }}

# center highlighted row on screen when scrolling up/down through rows
centered_cursor = {{ ncmpcpp_center_highlighted_row_on_screen }}

# wrap scolling any set of rows back to top when at the last row
cyclic_scrolling = {{ ncmpcpp_wrap_scrolling }}

# text to display if trying to show a tag that is not Set
empty_tag_marker = "{{ ncmpcpp_empty_tag_placeholder_text }}"

# empty tag color: 'default', 'red', 'red_green' (for fg/bg)
empty_tag_color = {{ ncmpcpp_empty_tag_color }}

# text to display in between tags
tags_separator = "{{ ncmpcpp_tag_separator_chars }}"

# wrap find operations in playlist/browser:  'wrapped', 'normal'
default_find_mode = {{ 'wrapped' if ncmpcpp_wrap_find_operations else 'normal' }}

# selected item(s) colors
selected_item_prefix = {{ ncmpcpp_selected_item_prefix }}
selected_item_suffix = {{ ncmpcpp_selected_item_suffix }}

# PLAYLIST UI ##################################################################

## Playlist UI Mode (classic/columns)
#playlist_display_mode = columns

## Show Remaining Time Above Playlist Columns
#playlist_show_remaining_time = yes

## Shorten Total/Remaining Times Above Playlist Columns
#playlist_shorten_total_times = yes

## Columns For The Playlist
#song_columns_list_format = (15)[blue]{A} (15)[cyan]{a} (20)[yellow]{b} (40)[magenta]{t|f:Title} (7f)[white]{lr:Length}

## Put Horizontal Bar Between Groups Of Same-Album Playlist Rows
#playlist_separate_albums = no

## Highlight >>Selected<< Playlist Row For X Seconds (0 = Always Highlighted)
#playlist_disable_highlight_delay = 0

# BROWSER UI ###################################################################

## Browser UI Mode (classic/columns)
#browser_display_mode = columns

## When Rows Of Songs Displayed In Browser, Define The Sort Order
## Note: Options Are name / mtime / format / noop
#browser_sort_mode = format

## If browser_sort_mode = name, Define The Tags To Sort By
{% raw -%}
#browser_sort_format = {%n}{%t}|{%f}{(%l)}
{% endraw %}

## Show Hidden Files/Dirs (i.e. Dotfiles/Dotdirs) In Browser
#show_hidden_files_in_local_browser = no

## Allow Deleting Files/Dirs From Disk (Only In Browser UI)
#allow_for_physical_item_deletion = yes

# MEDIA LIBRARY UI #############################################################

## Make Media Library Sort By mtime
#media_library_sort_by_mtime = yes

## First Column Of Media Lib (artist/album_artist/date/genre/composer/performer)
#media_library_primary_tag = album_artist

## Right Songs Row Format
{% raw -%}
#song_library_format = [{%A}] {%a -} {%t}|{%f}
{% endraw %}

# SEARCH ENGINE UI #############################################################

## Search Engine UI Mode (classic/columns)
#search_engine_display_mode = classic

## Default Search Location (database/playlist) - Also Selectable In UI
#default_place_to_search_in = database

## Search Mode:
##   1 - mpd built-in searching (no regexes, pattern matching)
##   2 - ncmpcpp searching (pattmatching, but may need to download dbase...)
##   3 - split searching (use mode 1 for dbase search, mode 2 for playlist srch)
#search_engine_default_search_mode = 1

## Type Of Regexes To use (none/basic/extended/perl)
#regular_expressions = extended

## After Successful Search, Block Fields In Search Engine Above Reset Button
#block_search_constraints_change_if_items_found = yes

# PLAYLIST EDITOR UI ###########################################################

## Playlist Editor UI Mode (classic/columns)
#playlist_editor_display_mode = classic

## Do Not Use \?*:|"<> In Generated Filenames
#generate_win32_compatible_filenames = yes

## Confirm Playlist Deletion
#ask_before_clearing_playlists = yes

# TAG EDITOR UI ################################################################

## Default Pattern Used By Tag Editor's Parser
#default_tag_editor_pattern = %n - %t

## Make Tag Editor Number Tracks 01/12 (if yes) Or Just 01 (if no)
#tag_editor_extended_numeration = no

# PLAYBACK #####################################################################

## Volume Change Step
#volume_change_step = 5

## Seek Forward/Backward In Song By An Increment
#incremental_seeking = yes

## Seek Forward/Backward Seek Increment
#seek_time = 1

## Execute Custom Command On Song Change (Think: Notification)
##execute_on_song_change = ""

################################ UNKNOWN SETTINGS ###############################
######################## (CAN'T FIGURE OUT WHAT THEY DO) ########################

##autocenter_mode = no

##modified_item_prefix = $3> $9

##discard_colors_if_item_is_selected = yes

##browser_playlist_prefix = "$2playlist$9 "

##statusbar_visibility = yes

##statusbar_color = default

##active_column_color = red

##window_border_color = green

##active_window_border = red
#"

