# vim: set filetype=conf:
#
# ANSIBLE-MANAGED CONFIGURATION FILE
# Ref: https://github.com/ncmpcpp/ncmpcpp/blob/master/doc/bindings
#

# GLOBAL NAV ###################################################################

# show all keymaps
def_key "{{ ncmpcpp_keymap_show_help }}"
  show_help

# go to playlist
def_key "{{ ncmpcpp_keymap_go_to_playlist }}"
  show_playlist

# go to browser
def_key "{{ ncmpcpp_keymap_go_to_browser }}"
  show_browser

# go to media library in 2-column mode
def_key "{{ ncmpcpp_keymap_go_to_media_lib }}"
  show_media_library
  toggle_media_library_columns_mode

# go to search Engine
def_key "{{ ncmpcpp_keymap_go_to_search_engine }}"
  show_search_engine

# go to playlist editor
def_key "{{ ncmpcpp_keymap_go_to_playlist_editor }}"
  show_playlist_editor

# go to tag Editor
def_key "{{ ncmpcpp_keymap_go_to_tag_editor }}"
  show_tag_editor

# Jump To Highlighted Item In Browser
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_browser }}"
  jump_to_browser

# jump to highlighted item in playlist editor
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_playlist_editor }}"
  jump_to_playlist_editor

# jump to highlighted item in tag Editor
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_tag_editor }}"
  jump_to_tag_editor

# jump to highlighted in tiny tag editor
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_tiny_tag_editor }}"
  edit_song

# quit ncmpcpp
def_key "{{ ncmpcpp_keymap_quit_ncmpcpp }}"
  quit

############################### GLOBAL PLAYBACK ################################

# # Volume Up
# def_key "="
#   volume_up

# # Volume Down
# def_key "-"
#   volume_down

# # Stop Music Playing
# def_key ";"
#   stop

# # Play Highlighted Song
# def_key "f"
#   play_item

# # Pause / Unpause Current Song
# def_key "space"
#   pause

# # Next Song
# def_key "."
#   next

# # Previous Song
# def_key ","
#   previous

# # Replay Current Song
# def_key "H"
#   replay_song

# # Seek Forward In Current Song
# def_key ">"
#   seek_forward

# # Seek Backward In Current Song
# def_key "<"
#   seek_backward

# # Jump To Specified Position In Current Song
# def_key "y"
#   jump_to_position_in_song

# # Go To Item For Currently Playing Song (In Whatever Screen Is Up)
# def_key "b"
#   jump_to_playing_song

# # Toggle Repeat Mode (For Playlist - Not Song)
# def_key "r"
#   toggle_repeat

# # Toggle Random Mode (Next Song Is Random Playlist Song)
# def_key "z"
#   toggle_random

# # Shuffle All Songs Around In Current Playlist
# def_key "Z"
#   shuffle

# ################################### BROWSER ####################################

# # Enter Directory
# def_key "l"
#   enter_directory

# # Go Up One Directory
# def_key "h"
#   jump_to_parent_directory

# # Add Directory/Song To End Of Playlist
# def_key "a"
#   add_item_to_playlist

# # Add Directory/Song To End Of Playlist And Play It Now
# def_key "A"
#   play_item
#   scroll_down

# # Edit Highlighted Directory Name
# def_key "e"
#   edit_directory_name

# # Delete Directory/Song From Disk
# def_key "delete"
#   delete_browser_items

# ################################## PLAYLIST ####################################

# # Save Current Playlist As
# def_key "S"
#   save_playlist

# # Remove Playlist Item (Not Remove From Disk)
# def_key "d"
#   delete_playlist_items

# # Crop Playlist (Remove All Items Not Currently Selected)
# def_key "C"
#   crop_main_playlist

# # Clear Current Playlist
# def_key "c"
#   clear_main_playlist

# ################################# SEARCH ENGINE ################################

# # Search For Entered Items Now
# def_key "s"
#   start_searching

# # Reset Entered Items
# def_key "m"
#   reset_search_engine

# ################################# MEDIA LIBRARY ################################

# # Edit Highlighted Tag
# def_key "e"
#   edit_library_tag

# # Edit Highlighted Library Album
# def_key "e"
#   edit_library_album

# ################################## TAG EDITOR ##################################

# # Edit Highlighted Tag
# def_key "e"
#   edit_library_tag

# # Edit Highlighted Library Album
# def_key "e"
#   edit_library_album

# ################################ PLAYLIST EDITOR ###############################

# # Edit Highlighted Playlist Name
# def_key "e"
#   edit_playlist_name

# # Crop Playlist (Remove All Items Not Currently Selected)
# def_key "C"
#   crop_playlist

# # Clear Currently Selected Playlist
# def_key "c"
#   clear_playlist

# # Delete Currently Selected Playlist
# def_key "delete"
#   delete_stored_playlist

