# vim: set filetype=conf:
#
# ANSIBLE-MANAGED CONFIGURATION FILE
# Ref: https://github.com/ncmpcpp/ncmpcpp/blob/master/doc/bindings
#

# MPD DATABASE #################################################################

# update mpd database now
def_key "{{ ncmpcpp_keymap_update_mpd_db_now }}"
  update_database

# GLOBAL NAV ###################################################################

# show all keymaps
def_key "{{ ncmpcpp_keymap_show_help }}"
  show_help

# go to playlist
def_key "{{ ncmpcpp_keymap_go_to_playlist }}"
  show_playlist

# go to browser
def_key "{{ ncmpcpp_keymap_go_to_browser }}"
  show_browser

# go to media library in 2-column mode
def_key "{{ ncmpcpp_keymap_go_to_media_lib }}"
  show_media_library
  toggle_media_library_columns_mode

# go to search Engine
def_key "{{ ncmpcpp_keymap_go_to_search_engine }}"
  show_search_engine

# go to playlist editor
def_key "{{ ncmpcpp_keymap_go_to_playlist_editor }}"
  show_playlist_editor

# go to tag Editor
def_key "{{ ncmpcpp_keymap_go_to_tag_editor }}"
  show_tag_editor

# Jump To Highlighted Item In Browser
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_browser }}"
  jump_to_browser

# jump to highlighted item in playlist editor
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_playlist_editor }}"
  jump_to_playlist_editor

# jump to highlighted item in tag Editor
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_tag_editor }}"
  jump_to_tag_editor

# jump to highlighted in tiny tag editor
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_tiny_tag_editor }}"
  edit_song

# quit ncmpcpp
def_key "{{ ncmpcpp_keymap_quit_ncmpcpp }}"
  quit

# PAGE NAV #####################################################################

# scroll up/down by 1 row
def_key "{{ ncmpcpp_keymap_scroll_up_one_row }}"
  scroll_up
def_key "{{ ncmpcpp_keymap_scroll_down_one_row }}"
  scroll_down

# scroll up/down by 1 page
def_key "{{ ncmpcpp_keymap_scroll_up_one_page }}"
  page_up
def_key "{{ ncmpcpp_keymap_scroll_down_one_page }}"
  page_down

# go to first/last row
def_key "{{ ncmpcpp_keymap_go_to_first_row }}"
  move_home
def_key "{{ ncmpcpp_keymap_go_to_last_row }}"
  move_end

# move to next/prev column
def_key "{{ ncmpcpp_keymap_move_to_next_column }}"
  next_column
def_key "{{ ncmpcpp_keymap_move_to_prev_column }}"
  previous_column

# SELECTION ####################################################################

# toggle show-highlighed-track-info/tags
def_key "{{ ncmpcpp_keymap_toggle_show_highlighted_track_info }}"
  show_song_info

# toggle show highlighed-artist-info (fetches from internet)
def_key "{{ ncmpcpp_keymap_toggle_show_highlighted_artist_info }}"
  show_artist_info

# select currently highlighted item
def_key "{{ ncmpcpp_keymap_select_highlighted_item }}"
  select_item

# unselect any selected items
def_key "{{ ncmpcpp_keymap_unselect_items }}"
  remove_selection

# select range from first selected item to last selected item
def_key "{{ ncmpcpp_keymap_select_range }}"
  select_range

# reverse current selection
def_key "{{ ncmpcpp_keymap_reverse_current_selection }}"
  reverse_selection

# move selected items up/down one row
def_key "{{ ncmpcpp_keymap_move_selected_item_up_one_row }}"
  move_selected_items_up
def_key "{{ ncmpcpp_keymap_move_selected_item_down_one_row }}"
  move_selected_items_down

# move selected items to cursor position
def_key "{{ ncmpcpp_keymap_move_selected_items_to_cursor_pos }}"
  move_selected_items_to

# add selected items to user-selected playlist
def_key "{{ ncmpcpp_keymap_add_selected_items_to_playlist }}"
  add_selected_items

# run selected action
def_key "{{ ncmpcpp_keymap_run_selected_action }}"
  run_action

# SEARCH #######################################################################

# find a track (in browser/playlist/etc)
def_key "{{ ncmpcpp_keymap_search_for_track }}"
  find
def_key "{{ ncmpcpp_keymap_search_for_track }}"
  find_item_forward

# go to next/prev found item
def_key "{{ ncmpcpp_keymap_next_found_item }}"
  next_found_item
def_key "{{ ncmpcpp_keymap_prev_found_item }}"
  previous_found_item

# PLAYBACK #####################################################################

# volume up/down
def_key "{{ ncmpcpp_keymap_volume_up }}"
  volume_up
def_key "{{ ncmpcpp_keymap_volume_down }}"
  volume_down

# play highlighted track from start
def_key "{{ ncmpcpp_keymap_play_highlighted_from_start }}"
  play_item

# stop playback
def_key "{{ ncmpcpp_keymap_stop_playback }}"
  stop

# pause / unpause current track
def_key "{{ ncmpcpp_keymap_pause_unpause }}"
  pause

# replay current track
def_key "{{ ncmpcpp_keymap_replay_current_track }}"
  replay_song

# play next/previous track
def_key "{{ ncmpcpp_keymap_play_next_track }}"
  next
def_key "{{ ncmpcpp_keymap_play_prev_track }}"
  previous

# seek forward/backward in current track
def_key "{{ ncmpcpp_keymap_seek_fwd_in_current_track }}"
  seek_forward
def_key "{{ ncmpcpp_keymap_seek_back_in_current_track }}"
  seek_backward

# jump to specified position (percentage) in current song
def_key "{{ ncmpcpp_keymap_jump_to_pos_in_current_track }}"
  jump_to_position_in_song

# go to item/row for currently playing song (in whatever screen is up)
def_key "{{ ncmpcpp_keymap_go_to_row_of_current_track }}"
  jump_to_playing_song

# toggle playlist repeat mode
def_key "{{ ncmpcpp_keymap_toggle_playlist_repeat_mode }}"
  toggle_repeat

# toggle random-next-playlist-track mode
def_key "{{ ncmpcpp_keymap_toggle_random_next_playlist_track_mode }}"
  toggle_random

# shuffle all songs around in current playlist
def_key "{{ ncmpcpp_keymap_shuffle_all_playlist_tracks }}"
  shuffle

# ################################### BROWSER ####################################

# # Enter Directory
# def_key "l"
#   enter_directory

# # Go Up One Directory
# def_key "h"
#   jump_to_parent_directory

# # Add Directory/Song To End Of Playlist
# def_key "a"
#   add_item_to_playlist

# # Add Directory/Song To End Of Playlist And Play It Now
# def_key "A"
#   play_item
#   scroll_down

# # Edit Highlighted Directory Name
# def_key "e"
#   edit_directory_name

# # Delete Directory/Song From Disk
# def_key "delete"
#   delete_browser_items

# ################################## PLAYLIST ####################################

# # Save Current Playlist As
# def_key "S"
#   save_playlist

# # Remove Playlist Item (Not Remove From Disk)
# def_key "d"
#   delete_playlist_items

# # Crop Playlist (Remove All Items Not Currently Selected)
# def_key "C"
#   crop_main_playlist

# # Clear Current Playlist
# def_key "c"
#   clear_main_playlist

# ################################# SEARCH ENGINE ################################

# # Search For Entered Items Now
# def_key "s"
#   start_searching

# # Reset Entered Items
# def_key "m"
#   reset_search_engine

# ################################# MEDIA LIBRARY ################################

# # Edit Highlighted Tag
# def_key "e"
#   edit_library_tag

# # Edit Highlighted Library Album
# def_key "e"
#   edit_library_album

# ################################## TAG EDITOR ##################################

# # Edit Highlighted Tag
# def_key "e"
#   edit_library_tag

# # Edit Highlighted Library Album
# def_key "e"
#   edit_library_album

# ################################ PLAYLIST EDITOR ###############################

# # Edit Highlighted Playlist Name
# def_key "e"
#   edit_playlist_name

# # Crop Playlist (Remove All Items Not Currently Selected)
# def_key "C"
#   crop_playlist

# # Clear Currently Selected Playlist
# def_key "c"
#   clear_playlist

# # Delete Currently Selected Playlist
# def_key "delete"
#   delete_stored_playlist

