# vim: set filetype=conf:
#
# ANSIBLE-MANAGED CONFIGURATION FILE
# Ref: https://github.com/ncmpcpp/ncmpcpp/blob/master/doc/bindings
#

# UNBIND ALL KEYS FIRST ########################################################

def_key "f1"
  dummy

def_key "f2"
  dummy

def_key "f3"
  dummy

def_key "f4"
  dummy

def_key "f5"
  dummy

def_key "f6"
  dummy

def_key "f7"
  dummy

def_key "f8"
  dummy

def_key "f9"
  dummy

def_key "f10"
  dummy

def_key "f11"
  dummy

def_key "f12"
  dummy

def_key "ctrl-a"
  dummy

def_key "ctrl-b"
  dummy

def_key "ctrl-c"
  dummy

def_key "ctrl-d"
  dummy

def_key "ctrl-e"
  dummy

def_key "ctrl-f"
  dummy

def_key "ctrl-g"
  dummy

def_key "ctrl-h"
  dummy

def_key "ctrl-i"
  dummy

def_key "ctrl-j"
  dummy

def_key "ctrl-k"
  dummy

def_key "ctrl-l"
  dummy

def_key "ctrl-m"
  dummy

def_key "ctrl-n"
  dummy

def_key "ctrl-o"
  dummy

def_key "ctrl-p"
  dummy

def_key "ctrl-q"
  dummy

def_key "ctrl-r"
  dummy

def_key "ctrl-s"
  dummy

def_key "ctrl-t"
  dummy

def_key "ctrl-u"
  dummy

def_key "ctrl-v"
  dummy

def_key "ctrl-w"
  dummy

def_key "ctrl-x"
  dummy

def_key "ctrl-y"
  dummy

def_key "ctrl-z"
  dummy

def_key "ctrl-_"
  dummy

def_key "alt-a"
  dummy

def_key "alt-b"
  dummy

def_key "alt-c"
  dummy

def_key "alt-d"
  dummy

def_key "alt-e"
  dummy

def_key "alt-f"
  dummy

def_key "alt-g"
  dummy

def_key "alt-h"
  dummy

def_key "alt-i"
  dummy

def_key "alt-j"
  dummy

def_key "alt-k"
  dummy

def_key "alt-l"
  dummy

def_key "alt-m"
  dummy

def_key "alt-n"
  dummy

def_key "alt-o"
  dummy

def_key "alt-p"
  dummy

def_key "alt-q"
  dummy

def_key "alt-r"
  dummy

def_key "alt-s"
  dummy

def_key "alt-t"
  dummy

def_key "alt-u"
  dummy

def_key "alt-v"
  dummy

def_key "alt-w"
  dummy

def_key "alt-x"
  dummy

def_key "alt-y"
  dummy

def_key "alt-z"
  dummy

def_key "tab"
  dummy

def_key "shift-tab"
  dummy

def_key "backspace"
  dummy

def_key "home"
  dummy

def_key "end"
  dummy

def_key "insert"
  dummy

def_key "a"
  dummy

def_key "b"
  dummy

def_key "c"
  dummy

def_key "d"
  dummy

def_key "e"
  dummy

def_key "f"
  dummy

def_key "g"
  dummy

def_key "h"
  dummy

def_key "i"
  dummy

def_key "j"
  dummy

def_key "k"
  dummy

def_key "l"
  dummy

def_key "m"
  dummy

def_key "n"
  dummy

def_key "o"
  dummy

def_key "p"
  dummy

def_key "q"
  dummy

def_key "r"
  dummy

def_key "s"
  dummy

def_key "t"
  dummy

def_key "u"
  dummy

def_key "v"
  dummy

def_key "w"
  dummy

def_key "x"
  dummy

def_key "y"
  dummy

def_key "z"
  dummy

def_key "A"
  dummy

def_key "B"
  dummy

def_key "C"
  dummy

def_key "D"
  dummy

def_key "E"
  dummy

def_key "F"
  dummy

def_key "G"
  dummy

def_key "H"
  dummy

def_key "I"
  dummy

def_key "J"
  dummy

def_key "K"
  dummy

def_key "L"
  dummy

def_key "M"
  dummy

def_key "N"
  dummy

def_key "O"
  dummy

def_key "P"
  dummy

def_key "Q"
  dummy

def_key "R"
  dummy

def_key "S"
  dummy

def_key "T"
  dummy

def_key "U"
  dummy

def_key "V"
  dummy

def_key "W"
  dummy

def_key "X"
  dummy

def_key "Y"
  dummy

def_key "Z"
  dummy

def_key "0"
  dummy

def_key "1"
  dummy

def_key "2"
  dummy

def_key "3"
  dummy

def_key "4"
  dummy

def_key "5"
  dummy

def_key "6"
  dummy

def_key "7"
  dummy

def_key "8"
  dummy

def_key "9"
  dummy

def_key "("
  dummy

def_key ")"
  dummy

def_key "["
  dummy

def_key "]"
  dummy

def_key "{"
  dummy

def_key "}"
  dummy

def_key ":"
  dummy

def_key "+"
  dummy

def_key "@"
  dummy

def_key "#"
  dummy

def_key "~"
  dummy

def_key "!"
  dummy

def_key "`"
  dummy

def_key "|"
  dummy

# GLOBAL NAV ###################################################################

# show all keymaps
def_key "{{ ncmpcpp_keymap_show_help }}"
  show_help

# go to playlist
def_key "{{ ncmpcpp_keymap_go_to_playlist }}"
  show_playlist

# go to browser
def_key "{{ ncmpcpp_keymap_go_to_browser }}"
  show_browser

# go to media library in 2-column mode
def_key "{{ ncmpcpp_keymap_go_to_media_lib }}"
  show_media_library
  toggle_media_library_columns_mode

# go to search Engine
def_key "{{ ncmpcpp_keymap_go_to_search_engine }}"
  show_search_engine

# go to playlist editor
def_key "{{ ncmpcpp_keymap_go_to_playlist_editor }}"
  show_playlist_editor

# go to tag Editor
def_key "{{ ncmpcpp_keymap_go_to_tag_editor }}"
  show_tag_editor

# Jump To Highlighted Item In Browser
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_browser }}"
  jump_to_browser

# jump to highlighted item in playlist editor
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_playlist_editor }}"
  jump_to_playlist_editor

# jump to highlighted item in tag Editor
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_tag_editor }}"
  jump_to_tag_editor

# jump to highlighted in tiny tag editor
def_key "{{ ncmpcpp_keymap_jump_to_highlighted_in_tiny_tag_editor }}"
  edit_song

# quit ncmpcpp
def_key "{{ ncmpcpp_keymap_quit_ncmpcpp }}"
  quit

############################### GLOBAL PLAYBACK ################################

# # Volume Up
# def_key "="
#   volume_up

# # Volume Down
# def_key "-"
#   volume_down

# # Stop Music Playing
# def_key ";"
#   stop

# # Play Highlighted Song
# def_key "f"
#   play_item

# # Pause / Unpause Current Song
# def_key "space"
#   pause

# # Next Song
# def_key "."
#   next

# # Previous Song
# def_key ","
#   previous

# # Replay Current Song
# def_key "H"
#   replay_song

# # Seek Forward In Current Song
# def_key ">"
#   seek_forward

# # Seek Backward In Current Song
# def_key "<"
#   seek_backward

# # Jump To Specified Position In Current Song
# def_key "y"
#   jump_to_position_in_song

# # Go To Item For Currently Playing Song (In Whatever Screen Is Up)
# def_key "b"
#   jump_to_playing_song

# # Toggle Repeat Mode (For Playlist - Not Song)
# def_key "r"
#   toggle_repeat

# # Toggle Random Mode (Next Song Is Random Playlist Song)
# def_key "z"
#   toggle_random

# # Shuffle All Songs Around In Current Playlist
# def_key "Z"
#   shuffle

# ################################### BROWSER ####################################

# # Enter Directory
# def_key "l"
#   enter_directory

# # Go Up One Directory
# def_key "h"
#   jump_to_parent_directory

# # Add Directory/Song To End Of Playlist
# def_key "a"
#   add_item_to_playlist

# # Add Directory/Song To End Of Playlist And Play It Now
# def_key "A"
#   play_item
#   scroll_down

# # Edit Highlighted Directory Name
# def_key "e"
#   edit_directory_name

# # Delete Directory/Song From Disk
# def_key "delete"
#   delete_browser_items

# ################################## PLAYLIST ####################################

# # Save Current Playlist As
# def_key "S"
#   save_playlist

# # Remove Playlist Item (Not Remove From Disk)
# def_key "d"
#   delete_playlist_items

# # Crop Playlist (Remove All Items Not Currently Selected)
# def_key "C"
#   crop_main_playlist

# # Clear Current Playlist
# def_key "c"
#   clear_main_playlist

# ################################# SEARCH ENGINE ################################

# # Search For Entered Items Now
# def_key "s"
#   start_searching

# # Reset Entered Items
# def_key "m"
#   reset_search_engine

# ################################# MEDIA LIBRARY ################################

# # Edit Highlighted Tag
# def_key "e"
#   edit_library_tag

# # Edit Highlighted Library Album
# def_key "e"
#   edit_library_album

# ################################## TAG EDITOR ##################################

# # Edit Highlighted Tag
# def_key "e"
#   edit_library_tag

# # Edit Highlighted Library Album
# def_key "e"
#   edit_library_album

# ################################ PLAYLIST EDITOR ###############################

# # Edit Highlighted Playlist Name
# def_key "e"
#   edit_playlist_name

# # Crop Playlist (Remove All Items Not Currently Selected)
# def_key "C"
#   crop_playlist

# # Clear Currently Selected Playlist
# def_key "c"
#   clear_playlist

# # Delete Currently Selected Playlist
# def_key "delete"
#   delete_stored_playlist

